{% extends "base.html" %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">{{ course.name }}</h1>
    <p><strong>Направление:</strong> {{ course.direction }}</p>
    <p><strong>Преподаватель:</strong> {{ course.teacher }}</p>
    <p><strong>Дата:</strong> {{ course.date }}</p>
    <p><strong>Формат:</strong> {{ course.format }}</p>
    <p><strong>Цена:</strong> {{ course.price }} KZT</p>
    <div class="mt-4">
        <h4>Подробная информация:</h4>
        <p>{{ course.details }}</p>
    </div>
    <a href="{% url 'course_list' %}" class="btn btn-secondary mt-3">Назад к курсам</a>
</div>
{% endblock %}
